@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Murder';
  font-style: normal;
  font-weight: 500;
  src: url('/ScaryNotesPersonalUse-ZVAxl.otf');
}

#title {
  font-family: 'Murder';
}